body {
    font-family: "Raleway", sans-serif;
}

#ratings {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3em;
}

.num-and-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em
}

.num-and-title > h3 {
    text-wrap: nowrap;
}

.rating-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.5em;
    width: 6em;
    height: 6em;
}

.rating-holder > h4 {
    font-size: 2em;
}


#reviews-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#plus-img {
    max-width: 1.5em;
    max-height: 1.5em;
}

.card-element {
    max-width: 50rem;
    margin-top: 2em;
}