

.App {
  text-align: center;
}

h1 {
  margin-left: 3em;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
  color: green;
<<<<<<< HEAD
=======

>>>>>>> 4eacbac0f5fe6acc4415eea0baad3b9cf40fa22a
}

.nameLabel {
  margin-right: 3em;
}