

.App {
  text-align: center;
}

h1 {
  margin-left: 3em;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
  color: green;

}

.nameLabel {
  margin-right: 3em;
}