.App {
  text-align: center;
}

.logo {
  margin-left: 1em;
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
  color: green;
  font-size: 2em;
}

/* #nameLabel {
} */